@{
    ViewData["Title"] = "Home Page";
}
<div class="image">
    <div class="text-center">
        <h1 class="display-4">Welcome to Cookbook</h1>
    </div>
    <div class="login">
        <div class="mb-3">
         <button type="submit" class="btn btn-success">Login</button>
        </div>
        <div class="mb-3">
         <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
</div>

